@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4>Dashboard</h4>
                <p>Welcome to Automobile Service Center secure dashboard.</p>
            </div>
        </div>
    </div>
</div>